{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your Framework Agreement has been countersigned
      </h1>
      
        <p>Dear supplier</p>

        <p>The Crown Commercial Service has countersigned your Framework Agreement. You can download the Framework Agreement from your Digital Marketplace account at:</p>

        <p>
        <a href="/framework-countersigned">https://dmp-prototype-sign-agreement.herokuapp.com/framework</a>
        </p>

        <p>You can sell services on the Digital Marketplace from 28 September 2020.</p>
    </div>
  </div>

{% endblock %}
