{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your Framework Agreement has been signed
      </h1>

      <p>
      {{ data['full-name'] | default('[full name]') }} has signed the G-Cloud 12 Framework Agreement
      on behalf of {{ data['company-name'] | default('[company name]') }}
      on {{ data['signature-date'] | default('[date]') }} at {{ data['signature-time'] | default('[time]') }}.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
      Your signed Framework Agreement will be sent to the Crown Commercial Service to be countersigned.
      </p>

      <p>
      We'll email you when the countersigned agreement is available.
      </p>

      <p>
      You'll need to wait for CCS to countersign your agreement before you can sell services.
      </p>

      <p>
      View the Framework Agreement at:
      </p>

      <p>
      <a class="govuk-link" href="/framework-signed">
        https://dmp-prototype-sign-agreement.herokuapp.com/framework
      </a>
      </p>
    </div>
  </div>

{% endblock %}
