{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You need to to sign the G-Cloud 12 Framework Agreement</h1>
      <p>
        Dear supplier
      </p>
      <p>
      Your G-Cloud 12 application was successful. From 28 September 2020 you
      will be able to sell services on the following lots:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Cloud hosting</li>
        <li>Cloud software</li>
        <li>Cloud support</li>
      </ul>
     
      <h2 class="govuk-heading-m">What you need to do</h2>
      <p>
        You need to electronically sign your Framework Agreement before you can sell services on the Digital Marketplace.
      </p>
      <p>
        The person signing must have the legal authority to agree to the framework terms, such as a director or company secretary.
      </p>
      <p>
        By signing you agree to be bound by the terms of the Framework Agreement, including the invitation to tender (known as the Invitation to Apply on the Digital Marketplace) and Schedules to this Framework Agreement.
      </p>

      <p>
        Sign your Framework Agreement at:
      </p>

      <p>
        <a href="/sign-in">
          https://dmp-prototype-sign-agreement.herokupapp.com/sign-in
        </a>
      </p>
    </div>
  </div>

{% endblock %}
