{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your framework agreement has been counter-signed
      </h1>
      
        <p>Dear supplier</p>
        <p>The Crown Commercial Service has countersigned your framework agreement. You can <a href="/framework">download the framework agreement</a> from your Digital Marketplace account.</p>
        <p>You can sell services on the Digital Marketplace from 2 July 2020.</p>
    </div>
  </div>

{% endblock %}
